#backend
fastapi
uvicorn
pydantic
sqlalchemy
alembic
requests
Pillow  # Aggiunto per la manipolazione delle immagini
pandas
passlib
python-jose
python-multipart
bcrypt
email-validator

#frontend
streamlit
extra-streamlit-components
streamlit-cookies-manager

